
#topo-do-site {
    color:white;
    background-color: #21022d;
    margin: 8px;
    text-align: center;
    padding: 8px;
}

#corpo-da-pagina{
    color: #21022d;
    background-color: #e2d8e7;
    margin: 24px;
    text-align: left;
    padding: 16px;


}
#vitamina-acai{
color: #21022d;
background-color:  #e2d8e7;
margin: 24px;
padding: 16px;

}
#vitamina-acai{

color: #21022d;
background-color: #e2d8e7;
margin: 24px;
padding: 16px;
}
#vitamina-banana-aveia{
    color: #21022d;
    background-color: #e2d8e7;
    margin: 24px;
    padding: 16px;
}
#vitamina-morango{
    color: #21022d;
    background-color: #e2d8e7;
    margin: 24px;
    padding: 16px;
}
#vitamina-pessego{
    background-color: #e2d8e7;
    color: #21022d;
    margin: 24px;
    padding: 16px;
}
#vitamina-romã{
    color: #21022d;
    background-color: #e2d8e7;
    margin: 24px;
    padding: 16px;
}
#vitamina-lactose{
color: #21022d;
background-color: #e2d8e7;
text-align: center;
}



#rodape{
    color:white;
    background-color: #21022d;
    margin: 8px;
    text-align: center;
    padding: 8px;
}